header {
  position: fixed;
  width: 100%;
  z-index: 100;
  position: -webkit-sticky;/* Necessário para funcionar no Safari */
  position: sticky;
  top: 0;
  box-shadow: rgba(80, 79, 79, 0.25) 0px 54px 55px, rgba(80, 79, 79, 0.25) 0px -12px 30px, rgba(80, 79, 79, 0.25) 0px 4px 6px, rgba(80, 79, 79, 0.25) 0px 12px 13px, rgba(80, 79, 79, 0.25) 0px -3px 5px;
}

nav {
  padding: 0 15%;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid #ff0000;
  font-weight: bold;
  height: 80px;
  transition: 0.3s;
}


nav ul li {
  list-style: none;
  margin: 10px 30px;
}

nav ul li::after {
  content: "";
  display: block;
  border-bottom: 2px solid #ff0000;
  margin-top: 5px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav ul li:hover::after {
  transform: scaleX(1);
}


nav h2 {
  padding: 10px;
  font-size: 1.3rem;
  width: 7%;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
nav h2:hover {
  color: #ff0000;
}


ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;

  list-style: none;
  font-weight: bold;

}

li {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.content-header {
  color: rgb(0, 0, 0);
  text-transform: capitalize;
}

.svgA {
  width: 40%;
  margin: 2rem 0;

  
  transform: perspective(3000px) rotateY(5deg);

  transition: transform 1s ease 0s;

}
.svgA:hover {
  transform: perspective(1500px) rotateY(15deg);
}